<!DOCTYPE html>
<html>
 <head>
  <title>Мафия Организатор</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
 </head>
 
 <body>
  
  <main id="app">
   
   <div id="grid-main">
   <h2>Список игроков</h2>
   
   <table><tbody>
    <tr></tr>
    <tr v-for="(user, index) of users" id="playerRow">
     <td><span v-show="user.dead">💀</span></td>
     <td><input :disabled="isPlaying === true" :value="user.name" autofocus></td>
     <td><select :disabled="isPlaying === true" :value="user.role"><option v-for="(role, index) in roles" :value="index">{{role[0]}}</option></select></td>
     <td><button v-show="isPlaying===false" @click="removePlayer(index)">🗑️</button></td>
     </tr>
   </tbody></table>
   
   <button @click="addPlayer()" v-show="!isPlaying">+ Новый игрок</button>
   <button v-show="!isPlaying" @click="startGame()">Сохранить и начать игру</button>
   
   <article class="turns" v-show="isPlaying">
    <h2>Ход игры</h2>
    
    <section v-for="(turn, turnid) of turns">
     {{turn.players}}
     <h3>Ход {{turns.length - turnid}}  <span v-show="isCurrentTurn(turnid)" class="currentTurnSpan">ТЕКУЩИЙ</span></h3>
     <table>
      <tr v-for="role in roles.slice(1)">
       <td>{{role[1]}}</td>
       
       <!-- Current turn -->
       <td v-if="isCurrentTurn(turnid)"><select :value="turns[0][role[2]]" @change="changeTurnInfo($event, turnid, role[2])">
        <option value="-1" hidden>Выберите игрока</option>
        <option v-for="player of playersAlive" :value="player.index">{{player.name}}</option>
        </select></td>
        
        <!-- Previous turns -->
       <td v-if="!isCurrentTurn(turnid)"><select disabled>
        <option>{{users[turns[turnid][role[2]]]?.name || "—"}}</option>
        </select></td>
        
      </tr>
      
      <!-- Voting -->
      <tr class="trVote">
       <td>{{roles[0][1]}}</td>
       <td v-if="isCurrentTurn(turnid)"><select :value="turns[0]['vote']" @change="changeTurnInfo($event, turnid, 'vote')">
        <option value="-1" hidden>Выберите игрока</option>
        <option v-for="player of playersAlive" :value="player.index">{{player.name}}</option>
        </select></td>
      </tr>
      
     </table>
     
     <button v-show="isCurrentTurn(turnid)" @click="startNewTurn()">Сохранить и начать новый ход</button>
     
    </section>
    
   </article>
   </div>
   
   <section v-show="isPlaying" style="margin-top: 1.5rem;">
     <h3>Статистика</h3>
     <ul class="statsList">
      <li>Всего <b>{{users.length}}</b> игроков, из них {{amountof('0')}}, {{amountof('1')}}, {{amountof('2')}} и {{amountof('3')}}.</li>
      <li><b>{{roles[1][1]}}:</b> {{stat.killed.join(', ') || "пока никто"}}.</li>
      <li><b>{{roles[2][1]}}:</b> {{stat.healed.join(', ') || "пока никто"}}.</li>
      <li><b>{{roles[3][1]}}:</b> {{stat.checked.join(', ') || "пока никто"}}.</li>
      <li><b>Были спасены:</b> {{stat.killhealed.join(', ') || "пока никто"}}.</li>
      <li><b>{{roles[0][1]}}:</b> {{stat.voteed.join(', ') || "пока никто"}}.</li>
     </ul>
    </section>
    
  </main>
  
  
  <!-- Scripts -->
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  <script src="main.js"></script>
  
 </body>
</html>
