:root {
 --border-color: lightgray;
 --border-color-focus: gray;
 --border-color-active: mediumblue;
 --border-color-disabled: gray;
 --bg-color: white;
 --button-bg-color: #fbfbfb;
 --text-color: black;
 --tezt-color-disabled: gray;
}

* {
 font-family: Inter;
}

body {
 margin: 0 auto;
 max-width: 720px;
 color: var(--text-color);
}
main {
 margin: .5rem;
}

article {
 margin-bottom: 6rem;
}

/* ELEMENTS */
article :is(button, input, select, details) {
 width: 100%;
 border: 1px solid var(--border-color);
 border-radius: 4px;
 background-color: var(--bg-color);
 padding: .4rem .6rem;
 font-size: .9rem;
 box-sizing: border-box;
 color: var(--text-color);
}
article button { margin: .2rem 0; }
article :is(button, input, select):disabled { color: var(--text-color-disabled) }
article :is(button, input, select, details):focus {
 outline: 1px solid gray;
}

article section {
 width: 100%;
 border: 1px solid var(--border-color);
 border-radius: 6px;
 background-color: var(--bg-color);
 padding: .4rem .6rem;
 font-size: .9rem;
 box-sizing: border-box;
 color: var(--text-color);
 margin: .4rem 0;
}
h3 {
 margin: .4rem 0;
 display: flex;
 align-items: center;
}

section.mb {
 margin-bottom: 2rem;
}


/* LIST OF PLAYERS */

table {
 max-width: 100%;
 width: 100%;
 margin-bottom: 1rem;
}
table button { margin: 0; }



/* NAVIGATION */
nav {
 position: fixed;
 bottom: 0; left: 0; right: 0;
 display: flex;
}
nav button {
 border: none;
 border-top: 2px solid var(--border-color);
 background-color: var(--bg-color);
 padding: .7rem .4rem;
 font-size: .8rem;
 box-sizing: border-box;
 display: flex; flex-direction: column;
 align-items: center; gap: .2rem;
 color: var(--text-color);
 width: 100%;
}
svg {
 width: 24px;
 height: 24px;
 fill: none;
 stroke: var(--text-color);
 stroke-width: 2px;
 stroke-linecap: round;
 stroke-linejoin: round;
}
nav button.current {
 border-color: var(--border-color-active);
 color: var(--border-color-active);
}
nav button.current svg {
 stroke: var(--border-color-active);
}
nav button:disabled {
 color: var(--border-color-disabled);
}
nav button:disabled svg {
 stroke: var(--border-color-disabled);
}

.small svg {
 width: 16px;
 height: 16px;
}

span.current {
 background-color: #f0f0f0;
 margin-left: .7rem;
 padding: .2rem .5rem;
 border-radius: 4px;
 font-size: .7rem;
 font-weight: normal;
}

.warning {
 border: 1px solid #40A6CE;
 border-radius: 4px;
 margin: .8rem 0;
 padding: .4rem .6rem;
 font-size: .8rem;
 background-color: rgba(64, 166, 206, .2);
}
